$eyecatch__left-w: 45%;
$eyecatch__right__top-h: 60%;
$eyecatch__right__bottom__left-w: 55%;
$sp-eyecatch__left-h: 60%;
$sp-eyecatch__right__top-h: 58%;

.eyecatch {
    height: 100vh;
    display: flex;
    @include tab {
        height: calc(100vh - #{$tab-header-h});
    }
    @include sp {
        flex-direction: column;
    }
    &__left {
        width: $eyecatch__left-w;
        @include sp {
            width: 100%;
            height: $sp-eyecatch__left-h;
        }
    }
    &__right {
        width: 100% - $eyecatch__left-w;
        display: flex;
        flex-direction: column;
        @include sp {
            width: 100%;
            height: 100% - $sp-eyecatch__left-h;
        }
        &__top {
            height: $eyecatch__right__top-h;
            @include sp {
                height: $sp-eyecatch__right__top-h;
            }
        }
        &__bottom {
            height: 100% - $eyecatch__right__top-h;
            display: flex;
            @include sp {
                height: 100% - $sp-eyecatch__right__top-h;
            }
            &__left {
                width: $eyecatch__right__bottom__left-w;
            }
            &__right {
                width: 100% - $eyecatch__right__bottom__left-w;
            }
        }
    }
}

.img {
    overflow: hidden;

    &__1 {
        height: 120%;
        transform: translateX(-7%);
        @include sp {
            transform: translate(0, -10%);
        }
    }
    &__2 {
        height: 120%;
        transform: translate(-17%, -12%);
        @include sp {
            transform: translate(0, -31%);
        }
    }
    &__3 {
        height: 120%;
        transform: translate(-28%, -12%);
        @include sp {
            transform: translate(0, 0);
        }
    }
    &__4 {
        height: 120%;
        transform: translate(-28%, -12%);
        @include sp {
            transform: translate(0, 0);
        }
    }
    &__1, &__2, &__3, &__4 {
        @include sp {
            width: 100%;
            height: unset;
        }
    }
}